@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 99vh;
}

@media screen and (min-width: 768px) {
  .app-container {
    height: 100vh;
  }
}

.dark_theme {
  background-color: #111112;
  color: white;
}

.light_theme {
  background-color: white;
  color: #111112;
}

.make-white-border-button {
  border-bottom: 1px solid rgb(244, 242, 242);
}

.make-dark-border-button {
  border-bottom: 1px solid rgb(27, 26, 26);
}

.dark_text_color {
  color: rgb(27, 26, 26);
}

.light_text_color {
  color: rgb(244, 242, 242);
}

.center-crop {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.navbar.opening {
  animation: slideDown 1s forwards;
}

.navbar.closing {
  animation: slideUp 0.5s forwards;
}

/* carousel */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
